<!doctype html>

<html>
<head>
    <script src="scripts/libs/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        <br />
        <span v-bind:title="title" v-if="seen">Now you see me</span>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <input v-model="message" /> 
        <br />
        <button v-on:click="reverseMessage">Reverse Message</button>
        <br /><br /><br /><br />
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            />
        </ol>
    </div>
    <script src="scripts/app.js"></script>
</body>
</html>